<!-- ########  Parliamentary VOTE COUNT ###### -->
	<!-- Header -->
	<div class="row">
			<h1 class="text-center">Parliamentary</h1>
	</div>


		<!-- Parliamentary Table -->
	
	<div class="row">
			<div class="table-responsive">
				<table class="table table-striped table-bordered table-hover">
		  			<tr>
		  				<th>Party</th>
		  				<th>Total Seats Won </th>
		  			</tr>

		  	
		  	<% @pmttotal = [] %>
		  	<% @constwinnervalue = [] %>
		  	<% @constwinnerkey = [] %>
		  	<% @varcount = 0 %>

		  	<% z = Electoraldatum.select('distinct constituency') %>
		  	<% y = Voteresult.select('distinct party').where('typeofelection = "PAL"') %>
		  	<% @partyname = Hash.new %>


		  	<% z.each do |zconst| %>
		  		<% @pmttotal[@varcount] = Electoraldatum.joins(:voteresults).where('typeofelection = "PAL" AND constituency = "' + zconst.constituency + '"').group(:Constituency, :candidate, :party).sum(:votes) %>
		  		<% @constwinnervalue[@varcount] = @pmttotal[@varcount].values.max %>
		  		<% @constwinnerkey[@varcount] = @pmttotal[@varcount].key(@constwinnervalue[@varcount]) %>
		  		<% y.each do |yparty| %>
		  			<%  if @partyname[yparty.party].blank? then @partyname[yparty.party] = 0 end %>
		  			<% if @constwinnerkey[@varcount].blank? == false then %>
		  				<% if @constwinnerkey[@varcount].include? yparty.party then @partyname[yparty.party] += 1 end %>
		  			<% end %>
		  		<% end %>
		  		<% @varcount += 1 %>
		  		<% puts @partyname %>
		  	<% end %>

		  	<% m = 0.0 %>
		  	<% @partyname.each do |smsvotes| %>
		  		<% m += smsvotes[1] %>
		  	<% end %>

		  	<% @partyname.each do |smsvotes| %>

		  		<tr>
		  			<td><%=smsvotes[0]%></td>
		  			<td><%=smsvotes[1] %></td>
		  		</tr>

		  	<% end %>
				<td></td>
				<td><strong><%= m.to_i %></strong></td>
				</table>
			</div>
	</div>