<!-- ########  Parliamentary VOTE COUNT ###### -->
	<!-- Header -->
	<div class="row">
			<h1 class="text-center">Parliamentary</h1>
	</div>


		<!-- Parliamentary Table -->
	
	<div class="row">
			<div class="table-responsive">
				<table class="table table-striped table-bordered table-hover">
		  			<tr>
		  				<th>Constituency</th>
		  				<th>Candidate</th>
		  				<th>Party</th>
		  				<th>Total Votes </th>
		  			</tr>

		  	
		  	<% pmttotal = Electoraldatum.joins(:voteresults).where('typeofelection = "PAL"').group(:Constituency, :candidate, :party).sum(:votes) %>
		  	<% m = "" %>
		  	<% pmttotal.each do |smsvotes| %>

		  			<tr>
		  				<td><strong><%= if m != smsvotes[0][0] then smsvotes[0][0] end %></strong></td>
		  				<% m = smsvotes[0][0] %>
		  				<td><%=smsvotes[0][1] %></td>
		  				<td><%=smsvotes[0][2]%></td>
		  				<td><%=smsvotes[1] %></td>
		  			</tr>

		  		<% end %>
		
				</table>
			</div>
	</div>