<div class="container-fluid">
	<div class="row-fluid">
		<%= render(:partial => "smsreceived") %>
	</div>

	<div class="row-fluid">
		<%= render(:partial => "votecount") %>
	</div>

	<div class="row-fluid">
		<div class="col-lg-6">
			<%= render(:partial => "pmtvotecount") %>
		</div>

		<div class="col-lg-6">
			<%= render(:partial => "prevotecount") %>
		</div>
		
	</div>
</div>
