<div class="btn-group">
	  			<button class="btn btn-default btn-lg dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	    			View Graph on <span class="caret"></span>
	  			</button>
	  			<ul class="dropdown-menu">
	  				<li><a href="/smsvotes/vizpre">Presidential Results</a></li>
	  				<li><a href="/smsvotes/vizpmt">Parliamentary Results</a></li>
	  				<li><a href="/smsvotes/vizmap">Map View</a></li>
	  			</ul>
</div>