<div class="row-fluid">
	<ul class="nav nav-tabs">

		<% if current_page?("/smsvotes/index") or current_page?("/") then %>
	  		<li role="presentation" class="active"><a href="/smsvotes/index">SMS</a></li>
	  	<%  else %>
	  		<li role="presentation"><a href="/smsvotes/index">SMS</a></li>
	  	<% end %>

	  	<% if current_page?("/smsvotes/rawresults") or current_page?("/smsvotes/rawresultspal") or current_page?("/smsvotes/rawresultspre") then %>
			<li role="presentation" class="active"><a href="/smsvotes/rawresults">Raw Results</a></li>
		<%  else %>
			<li role="presentation"><a href="/smsvotes/rawresults">Raw Results</a></li>
		<% end %>

	  	<% if current_page?("/smsvotes/collatedresults") or current_page?("/smsvotes/collatedresultsconst") or current_page?("/smsvotes/collatedresultsregional") or current_page?("/smsvotes/collatedresultsnational") then %>
	  		<li role="presentation" class="active"><a href="/smsvotes/collatedresults">Collated Results</a></li>
	  	<%  else %>
	  		<li role="presentation"><a href="/smsvotes/collatedresults">Collated Results</a></li>
	  	<% end %>

	  	<% if current_page?("/smsvotes/vizpre") or current_page?("/smsvotes/vizpmt") then %>
	  		<li role="presentation" class="active"><a href="/smsvotes/vizpre">Visualized Results</a></li>
	  	<%  else %>
	  		<li role="presentation"><a href="/smsvotes/vizpre">Visualized Results</a></li>
	  	<% end %>

	</ul>
</div>