<div class="btn-group">
	  			<button class="btn btn-default btn-lg dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	    			Filter by <span class="caret"></span>
	  			</button>
	  			<ul class="dropdown-menu">
	    			<li><a href="/smsvotes/rawresultspal">Parliamentary Results</a></li>
	    			<li><a href="/smsvotes/rawresultspre">Presidential Results</a></li>
	    			<li><a href="/smsvotes/rawresults">Show All</a></li>
	  			</ul>
			</div>